@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    background-color: black;
    color: blanchedalmond;
    overscroll-behavior: contain;
}

.wrapper{
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.score{
    font-family: 'Sriracha', cursive;
}

@media only screen and (min-width: 1081px){
    body{
        background-image: url(images/backgr1920.jpg);
        background-size: cover;
        background-repeat: no-repeat;   
    }
    div.score{
        position: absolute;
        font-size: 24px;
        left: 250px;
        top: 550px;
        padding: 5px;
        border: 2px solid rgba(0, 0, 0, 0);
        transition-duration: 0.3s;
    }
    
    div.score:hover{
        background-color: white;
        border: 2px solid #67c7ac;
        color: black;
        border-radius: 10%;
    }
}

.wrapper div{
    margin: 0 50px;
    font-size: 24px;
}

table.pythonField td{
    width:30px; 
    height:30px; 
    padding: 0;
}

table.pythonField img{
    width:20px; 
    height: 20px; 
    margin-left: 5px;
}

.game_heading{
    color: blanchedalmond;
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 70px;
    margin-top: 50px;
}

table.pythonField td.occupiedCell{
    border: cornsilk solid 0.5px;
}

div.buttonContainer{
    justify-content: center;
    display: flex;
    margin-top: 40px;
    font-size: 24px;
}

div.buttonContainer button{
    margin: 10px;
    width: 150px;
    height: 70px;
    font-family: 'Sriracha', cursive;
    font-size: large;
	font-weight: 600;
	border: 2px solid black;
	background-color: #f8f8ff;
	color: black;
	transition-duration: 0.3s;
	border-radius: 10%;
}

div.buttonContainer button:hover{
	background-color: black;
	border: 2px solid #67c7ac;
	color: #f8f8ff;
}

div.gameLevel{
    font-family: 'Sriracha', cursive;
    font-size: 34px;
    text-align: center;
    margin-top: 100px;
    color: blanchedalmond;
}

@media only screen and (max-width: 1080px) {

    body{
        background-image: url(images/backgr720.jpg);
        background-size: cover;
        background-repeat: no-repeat;   
    }

    div.score {
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .wrapper {
        width: 100%;
    }

    div.gameLevel{
        font-size: 44px;
        background-color: rgba(7, 26, 26, 0.5);
        border-radius: 30%;
        border: none;
    }

    div.buttonContainer button{
        margin: 20px;
        width: 180px;
        height: 70px;
        font-size: 32px;
    }

    table.pythonField td{
        width:50px; 
        height:50px; 
    }

    table.pythonField img{
        width: 36px; 
        height: 36px; 
    }

    .game_heading{
        font-size: 86px;
    }

    table.pythonField td.occupiedCell{
        background-color: rgba(0, 190, 152, 0.9);
    }

    table.pythonField td{
        border: white solid 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }
  }