@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: blanchedalmond;
}

.wrapper{
    position: relative;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score{
    font-family: 'Sriracha', cursive;
}

.wrapper div{
    margin: 0 50px;
    font-size: 24px;
}

table.pythonField td{
    width:30px; 
    height:30px; 
    padding: 0;
}

table.pythonField img{
    width:20px; 
    height: 20px; 

    margin-left: 5px;
}

.game_heading{
    color: blanchedalmond;
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-size: 70px;
}

table.pythonField td.occupiedCell{
    border: cornsilk solid 0.5px;
}

div.buttonContainer{
    justify-content: center;
    display: flex;
}

div.buttonContainer button{
    font-size: 24px;
    margin: 10px;
    width: 150px;
    height: 70px;
    margin-top: 40px;
    font-family: 'Sriracha', cursive;

    font-size: large;
	font-weight: 600;
	border: 2px solid black;
	background-color: azure;
	color: black;
	transition-duration: 0.3s;
	border-radius: 10%;
}

div.buttonContainer button:hover{
	background-color: black;
	border: 2px solid #67c7ac;
	color: white;
}

div.gameLevel{
    font-family: 'Sriracha', cursive;
    font-size: 34px;
    text-align: center;
    margin-top: 30px;
    color: blanchedalmond;
}